{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GrabGrub</title>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static '/bootstrap/css/main.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<script src="{% static '/bootstrap/jquery-3.4.1.slim.min.js' %}"></script>
		<script src="{% static '/bootstrap/popper.min.js' %}"></script>
		<script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<nav class="navbar navbar-expand-sm bg-light navbar-light">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="{% url 'view_order' %}">
                <img src="{% static 'logo.png' %}"  alt="" style="width:200px;">
            </a>
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Orders
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'view_order' %}">View Orders</a>
                  <a class="dropdown-item" href="{% url 'add_order' %}">Add Order</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Food Menu
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'view_food' %}">View Menu</a>
                  <a class="dropdown-item" href="{% url 'add_food' %}">Add Food</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Customers
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'view_customer' %}">View All Customers</a>
                  <a class="dropdown-item" href="{% url 'add_customer' %}">Add Customer</a>
                </div>
              </li>
            </ul>
        </nav>

		<div class="container-fluid"> 	
			<div class="row">

				{% block content %}
				{% endblock %}

			</div> 
		</div>

		
	</body>
</html>